body {
    background-color: #fff;
    font-family: Roboto, sans-serif;
    margin: 0;
    max-height: 100%;
    overflow: hidden; /*so page isn't too tall*/
    padding: 0;
}

header {
    background: #fff;
    box-shadow: rgba(0,0,0,0.2) 0px 4px 8px 0px;
    color: #fff;
    height: 90px;
    width: 100%;
    z-index: 2;
}

h2 {
    font-family: "'Open Sans'",sans-serif;
    font-weight: 400;
    color: black;
    padding: 10px 0 10px 0;
    text-align: center;
    transition: ease 0.6s;
    white-space: nowrap;
}

h3 {
    color: black;
    font-family: "'Open Sans'",sans-serif;
    font-weight: 300;
    text-align: center;
}

header img {
    float: left;
    margin: 14px;
    width: 180px;
}

#main-container {
    background: #cb2d3e; /* fallback for old browsers */
    background: linear-gradient(to top, #ef473a, #cb2d3e), url(../images/thebeach.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    min-height: 100vh;
    padding-bottom: 20px;
}

#number-field {
    position: absolute;
    top: -100px;
}

.hidden {
    display: none   !important;
}

#alternate-info {
    margin: 45px auto -25px auto !important;
}

h1 {
    border-bottom: 6px solid rgba(255,255,255,0.349);
    color: #fff;
    display: block;
    font: 300 50px "Open Sans",sans-serif;
    margin: 40px auto;
    max-width: 960px;
    text-align: center;
}

form {
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    margin: 20px auto;
    max-width: 960px;
    overflow: hidden;
    padding: 20px 10px;
    position: relative;
    transition: ease 0.6s;
}

form input[type=text], form input[type=number],
form input[type=email], form input[type=date],
form input[type=time], form input[type=file],
form input[type=image], form textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    margin: 8px auto;
    outline: 0;
    padding: 12px 0px;
    transition: border-bottom 0.1s;
    width: 90%;
}

form input[type=text].missing,
form input[type=number].missing,
form input[type=email].missing,
form input[type=time].missing,
form input[type=file].missing,
form textarea.missing {
    border-bottom: 2px solid #e00122;
}

form input[type=text]:focus,
form input[type=number]:focus,
form input[type=email]:focus,
form input[type=time]:focus,
form input[type=file]:focus {
    border-bottom: 2px solid #8f8f8f;
}

form input[type=text].missing:focus,
form input[type=number].missing:focus,
form input[type=email].missing:focus,
form input[type=time].missing:focus,
form input[type=file].missing:focus,
form textarea.missing {
    border-bottom: 2px solid #8f131f;
}

form input[type=button] {
    background-color: #e00122;
    border: 2px solid #e00122;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 20px auto;
    outline: 0;
    padding: 10px;
    text-transform: uppercase;
    transition: background-color 0.6s, color 0.6s;
    -webkit-appearance: none;
    width: 90%;
}

form input[type=button]:hover {
    background-color: #fff;
    border: 2px solid #e00122;
    color: #e00122;
    cursor: pointer;
}

.modal {
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    display: none;
    height: 10%;
    left: 35%;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 30%;
    z-index: 1000;
}

#hidden-id-container {
    display: none;
}